* {
    box-sizing: border-box;
    margin: 0; 
}

html {
    scroll-behavior: smooth; 
}

body {
    /* min-width: 1440px; */
    font-family: Inter;
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* width: 1440px; */
}

.header {
    font: 16px Inika;
    background-color: #EDF2EC;
    height: 134px;
}

.container {
    max-width: 1222px;
    width: 85%;
    margin: 0 auto;
    height: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: flex-end;
    margin-right: 1px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 46px;
}

.nav-link {
    color: #010201;
    text-decoration: none;
    line-height: 50px;
    cursor: pointer;
    transition: color 0.3s, font-weight 0.3s;
}

.nav-link:hover {
    color: #E06733;
    font-weight: 700;
}

.main {
    background-color: #EDF2EC;
}

.main-conteiner {
    display: flex;
    flex-direction: column;
}

.section-welcome {
    width: 100%;
    height: 532px;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-info {
    width: 549px;
    height: 340px;
    color: #717171;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.welcome-heading {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}

.welcome-text {
    font-size: 20px;
    line-height: 35px;
}

.plants-color {
    color: #499A18;
}

.button {
    border: 2px solid #E06733;
    border-radius: 10px;
    padding: 10px 24px;
    transition: background-color 0.3s, color 0.3s;
}

.welcome-button {
    border: 2px solid #E06733;
    border-radius: 10px;
    padding: 10px 24px;
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;  
}

.button:hover {
    background-color: #E06733;
    color: #FFF;
    cursor: pointer;
}

.section-about {
    background-color: #FFF;
    height: 666px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-info {
    width: 605px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-heading {
    font: 40px Inika;
    line-height: 52px;
    color: #499A18;
}

.pro-colors {
    color: #E06733;
}

.about-text {
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.about-img-container img {
    width: 464px; 
    height: 479px;
}

.section-service {
    height: 1300px;
    width: 100%;
    background-color: #EDF2EC;
}

.service-content {
    padding-top: 40px;
    display: flex;
    align-items: center;
    gap: 12%;
}

.service-heading {
    font: 40px Inika;
    line-height: 52.12px;
    color: #499A18;
    width: 25%;
}

.service-button {
    padding: 11px 39px;
    border: 1px solid #E06733;
    border-radius: 5px;
    color: #E06733;
    font: 20px Inika;
    line-height: 26.06px;
    margin-right: 37px;
    min-width: 160px;
}

.service-item {
    width: 330px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    text-align: center;
}

.item-heading {
    margin: 10px auto;
    font: 700 20px Inter;
    color: #E06733;
    line-height: 20px;
}

.item-description {
    font: 16px;
    line-height: 20px;
    color: #717171;
    margin-bottom: 36px;
}

.service-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    height: 73%;
    margin-top: 7.4%;
}

.section-prices {
    height: 560px;
    width: 100%;
    background-color: #FFF;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.prices {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.prices-heading,
.contact-us-heading {
    font: 700 40px Inter;
}

.prices-heading {
    margin-bottom: 60px;
}

.contact-us-heading {
    text-align: end;
    margin-bottom: 50px;
}

.prices-wrapper {
    height: 282px;
    width: 332px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 34px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prices-button {
    background: #EDF2EC;
    border: none;
    border-radius: 20px;
    padding: 15px 40px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prices-plan {
    font: 700 20px Inter;
    line-height: 20px;
}

.arrow-down {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #D9D9D9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.arrow-down:hover {
    background-color: #c6c6c6;
    cursor: pointer;
}

.contact-us-button {
    border: 1px solid #E06733;
    border-radius: 5px;
    color: #E06733;
    font: 700 20px Inika;
    line-height: 20px;
    background-color: inherit;
    padding: 14px 32px;   
    display: block;
    margin-bottom: 39px;
}

.imgblock {
    display: block;
}

.section-contacts {
    width: 100%;
    background-color: #EDF2EC;
    height: 550px;
}

.contacts {
    position: relative;
    display: flex;
    flex-direction: column;
}

.womanimg {
    /* align-self: flex-end; */
    position: absolute;
    bottom: 0;
}


.contacts-heading {
    padding-top: 60px;
    text-align: center;
}

.contacts-heading-text {
    color:#499A18;
    font: 700 40px Inika;
    line-height: 52px;  
}

.contacts-content {
    align-self: flex-end;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px 24px 5px 20px;
    align-items: center;
    margin-top: 37px;
    width: 36.5%;
    height: 50px;
    color: #717171;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.citysearch {
    font-size: 20px;
    line-height: 40px;
}

.footer {
    font: 16px Inika;
    background-color: #FFF;
    height: 130px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
}

.yeargit {
    display: flex;
    gap: 20px;
}

.year {
    font-size: 20px;
    line-height: 50px;
}

.gitlink {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    line-height: 50px;
    transition: color 0.3s, font-weight 0.3s;
}

.gitlink:hover {
    color: #E06733;
    font-weight: 700;
}

/* .sociallinks {
    width: 50px;
} */

.social-list {
    padding: 0;
    width: 188px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.search {
    background-color: #AEA1A1;
}

.womanimg {
    width: 400px;
    height: 497px;
}

@media screen and (max-width: 480px) {

    .container {
        width: 86.9%;
    }

    .header {
        height: 96px;
    }

    .header-container {
        height: 100%;
    }

    .nav {
        position: fixed;
        top: 94px;
        left: 0;
        max-height: calc(100vh - 94px);
        width: 100vw;
    }
    .nav-list {
        transform: translateX(-100%);
        transition: all 0.5s;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        height: calc(100vh - 94px);
        width: 100vw;
        position: fixed;
        left: 0;
        top: 94px;
        right: 0;
        bottom: 0;
        background-color: #FFF;
        overflow-y: scroll;
    }

    .nav-list.active {
        transform: translateX(0%);
    }

    .burger-button {
        height: 26px;
        width: 40px;
        position: relative;
        z-index: 10;
        overflow: hidden;
        cursor: pointer;
    }

    .burger-button span {
        width: 40px;
        height: 2px;
        background-color: #717171;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s;
    }

    .burger-button span:nth-last-of-type(1) {
        top: 2px;
    }
    
    .burger-button span:nth-last-of-type(2) {
        top: 9.33px;
    }
    
    .burger-button span:nth-last-of-type(3) {
        top: 16.59px;
    }
    
    .burger-button span:nth-last-of-type(4) {
        top: calc(100% - 2.33px);
    } 
    
    .burger-button.active span:nth-last-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }
    
    .burger-button.active span:nth-last-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }
    
    
    .burger-button.active span:nth-last-of-type(1) {
        transform: translate(100%, 50%) rotate(45deg);
    }
    
    .burger-button.active span:nth-last-of-type(4) {
        transform: translate(-200%, -50%) rotate(-45deg);
    }
    
    .burger-button.active {
        height: 40px;
    }

    .section-welcome {
        height: 300px;
    }

    .leaf-img-container {
        display: none;
    }
    
    .welcome-info {
        height: 100%;
        justify-content: space-evenly;
    }

    .welcome-heading {
        font-size: 25px;
        line-height: 35px;
    }

    .welcome-text {
        font-size: 16px;
        line-height: 25px;
    }
    
    .welcome-button {
        font-size: 10px;
        line-height: 20px;
        padding: 6px 14px;
    }

    .section-about {
        height: 516px;
    }
    
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-heading {
        font-size: 25px;
        line-height: 32.57px;
        text-align: center;
    }

    .about-info {
        justify-content: none;
        max-height: 312px;
        gap: 21.55px;
        height: 100%;
        width: 100%;
    }

    .about-text {
        font-size: 15px;
        line-height: 25px;
    }

    .about-img-container img {
        width: 150px; 
        height: 147px;
    }

    .section-service {
        height: 3150px;
    }

    .service-content {
        align-items: flex-start;
        flex-direction: column;
        gap: 35px;
        min-height: 183px;
    }

    .service-heading {
        font-size: 25px;
        line-height: 32.57px;
        width: 60%;
    }

    .service-list {
        flex-direction: column;
        height: 91%;
        justify-content: space-between;
        align-items: center;
    }

    .service-categories {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        min-height: 79px;
    }

    .service-button {
        font-size: 15px;
        line-height: 19.54px;
        padding: 6px 24px;
        min-width: 121px;
        margin-right: 10px;
    }

    .forscroll {
        display: none;
    }

    .section-prices {
        height: 512px;
    }

    .prices {
        flex-direction: column;
        /* justify-content: space-around;
        align-items: center; */
        padding: 25px 0 40px;
    }

    .prices-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .contact-us {
        justify-content: space-around;
        align-items: center;
    }

    .prices-heading {
        font-size: 25px;
        line-height: 30.26px;
        margin-bottom: 40px;
    }

    .prices-wrapper {
        width: 224px;
        height: 235px;
        padding: 29px 21px;
        margin-bottom: 19px;
    }

    .prices-button {
        padding: 15px 30px;
    }

    .prices-plan {
        font-size: 15px;
        line-height: 20px;
    }

    .contact-us-heading {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 14px;
        text-align: center;
    }

    .contact-us-button {
        font-size: 15px;
        line-height: 19.54px;
        margin-bottom: 0;
        padding: 7px 21px;
    }

    .imgblock {
        display: none;
    }

    .womanimg {
        width: 100px;
        height: 124.25px;
        left: calc(100vw - 100px - 50%);
    }

    .contacts-heading {
        padding-top: 25px;
    }

    .contacts-heading-text {
        font-size: 25px;
        line-height: 32.57px;
    }

    .contacts-content {
        width: 90%;
        align-self: center;
        margin-top: 80px;
    }

    .citysearch {
        font-size: 20px;
        line-height: 40px;
    }

    .footer-container {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .year {
        line-height: 24.2px;
    }

    .gitlink {
        line-height: 24.2px;
    }

}